<section class="archives">
  <h1><%= @path.capitalize if @path %></h1>
  <ul>
    <% if archives.length > 0 %>
      <% for entry in archives %>
        <li>
          <p><a href="<%= entry.path %>"><%= entry.title %></a></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</section>
