<section id="archives">
  <% require 'open-uri' %>
  <% require 'pony' %>
  <% req = Rack::Request.new(env)
     req.post?
     verify = req.params["verify"]
     session = req.params["session"]
     message = req.params["message"]
     email = req.params["mail"]
    
     
  %>
  <h1>Contact</h1>
  <% 
    @captcha_session ||= rand(9000) + 1000
   %>
  <section class="container">
    <%= if session 
          if(open("http://captchator.com/captcha/check_answer/#{session}/#{verify}").read.to_i.nonzero? rescue false) == 1       
            begin
              Pony.mail(:to => 'xxx', :via => :smtp, :via_options => {
               :address => 'xxx',
               :port => '587',
               :enable_starttls_auto => true,
               :user_name => 'xxx',
               :password => 'xxx',
               :authentication => :plain,
               :domain => "HELO",
             },
             :subject => '#{Name} submited new contact from #{email}' , :body => message)   
             "<center><p class=\"notifysuccess\">Thank you for your contact!</p></center>"
           rescue
             "<center><p class=\"notifyfail\">The contact service is currently down. Please try again later.</p></center>"
           end
           else
             "<center><p class=\"notifyfail\">Verification failed.</p></center>"
           end
         end
    %> 
    <form method="get">
      Name:<br><input type="text" name="name"><br>
      Email:<br><input type="text" name="mail"><br>
      <textarea rows="10" cols="30" name="message" onkeydown = "limitText(this.form.message,this.form.countdown,300);" onkeyup ="limitText(this.form.message,this.form.countdown,300);"></textarea><br> 
      <font size="1"><input readonly type="text" name="countdown" size="3" value="300" style="width:30px"> characters left.</font>
      <img src="http://captchator.com/captcha/image/<%= @captcha_session %>" style="float: right;"/><br>
      Type the text shown to the right: <input type="text" name="verify"><br>
      <input type="hidden" name="session" value="<%= @captcha_session.to_s %>">
      <p class="submit"><input type="submit" value="Send"></p>
    </form>

  </section>
</section>
