<section class="archives">
  <script>
      function limitText(limitField, limitCount, limitNum) {
        if (limitField.value.length > limitNum) {
          limitField.value = limitField.value.substring(0, limitNum);
        } else {
            limitCount.value = limitNum - limitField.value.length;
          }
      }
  </script>

  <% require 'open-uri' %>
  <% require 'pony' %>
  <% req = Rack::Request.new(env)
     req.post?
     verify = req.params["verify"]
     session = req.params["session"]
     message = req.params["message"]
     email = req.params["mail"]
     name = req.params["name"]

  %>
  <h1>Contact</h1>
  <%
    @captcha_session ||= rand(9000) + 1000
   %>
  <section class="container">
    <%= if email
		if ((open("http://captchator.com/captcha/check_answer/#{session}/#{verify}").read.to_i.nonzero? rescue false) == 1 ) || ((open("http://easycaptchas.com/check.aspx?sessionid=#{session.to_s}&input=#{verify.to_s}").read) == "TRUE") || (config[:captchaservice] == 'false')
            begin
              Pony.mail(:from => email, :to => ENV['SENDGRID_RECIPIENT'], :via => :smtp, :via_options => {
               :address => 'smtp.sendgrid.net',
               :port => '587',
               :domain => 'heroku.com',
               :user_name => ENV['SENDGRID_USERNAME'],
               :password => ENV['SENDGRID_PASSWORD'],
               :authentication => :plain,
               :enable_starttls_auto => true
              },
             :subject => "[hugomarinho.com] \"#{name}\" submitted new contact from \"#{email}\"" , :body => message)
             "<center><p class=\"notifysuccess\">Thank you for your contact!</p></center>"
           rescue
             "<center><p class=\"notifyfail\">The contact service is currently down. Please try again later.</p></center>"
           end
           else
             "<center><p class=\"notifyfail\">Verification failed.</p></center>"
           end
         end
    %>
    <form id="contact" method="get">
      Name:<br><input type="text" name="name"><br>
      Email:<br><input type="text" name="mail"><br>
      <textarea rows="10" cols="30" name="message" onkeydown = "limitText(this.form.message,this.form.countdown,500);" onkeyup ="limitText(this.form.message,this.form.countdown,500);"></textarea><br>
      <label class="smalltext"><input readonly type="text" name="countdown" size="3" value="500" style="width:30px"> characters left.</label>
      <%= case config[:captchaservice]
	  when 'captchator'
		  "<img src=\"http://captchator.com/captcha/image/#{@captcha_session}\" alt=\"captchator\" /><br>\n
                   Type the text shown to the right: <input type=\"text\" name=\"verify\"><br>\n
                   <input type=\"hidden\" name=\"session\" value=\"#{ @captcha_session.to_s}\">"
	  when 'easycaptcha'
            "<img src=\"http://www.EasyCaptchas.com/#{@captcha_session}.captcha\" alt=\"easycaptcha\" /><br>\n
 	    Type the text shown to the right: <input type=\"text\" name=\"verify\"><br>\n
            <input type=\"hidden\" name=\"session\" value=\"#{ @captcha_session.to_s}\">"
        end
       %>
      <p class="submit"><input type="submit" value="Send"></p>
    </form>

  </section>
</section>
