<%
  require 'karakuri'
  desired_tag = Karakuri::desired_tag(env["QUERY_STRING"])
%>
<section class="archives">
  <h1>Tagged Posts</h1> 
  <p>Posts filed under '<%= desired_tag %>': </p>
  <ul>
  <% Karakuri::desired_articles(@articles, desired_tag).each do |article| %>
    <li>
      <span class="descr"><a href="<%= article.path %>" title="<%= article.title %>"><%= article.title %></a><br/></span>
    </li>
  <% end %>
  </ul>
  <br/>
</section>
