<%
  require 'karakuri'
  desired_tag = Karakuri::desired_tag(env["QUERY_STRING"])
%>
<h1>Posts filed under '<%= desired_tag %>': </h1>
<ul>

<% Karakuri::desired_articles(@articles, desired_tag).each do |article| %>
  <li>
    <span class="descr"><a href="<%= article.path %>" alt="<%= article.title %>"><%= article.title %></a><br/></span>
  </li>
<% end %>
</ul>
<br/>
